<!doctype html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="referrer" content="no-referrer"/>
    <!-- Bootstrap CSS Jquery -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" crossorigin="anonymous">
    <script th:src="@{/js/jquery-3.4.1.js}" crossorigin="anonymous"></script>
</head>

<body>

    <div>
        <h3>添加书本</h3>
        <label for="Book_name">书名</label>
        <input type="text" name="Book_name" id="Book_name">
        <br>
        <label for="Author">作者</label>
        <input type="text" name="Author" id="Author">
        <br>
        <label for="Description">简介</label>
        <input type="text" name="Description" id="Description">
        <br>

        <button onclick="add_book()">添加</button>
    </div>

    <br>
    <br>

    <div>
        <h3>根据书名或作者查找书、删除书</h3>
        <input placeholder="输入书名或作者" type="text" name="search" id="search">
        <button onclick="search()">搜索</button>
    </div>

    <div id="show">

    </div>


</body>

<script>
    function add_book(){
        $.ajax({
            url: '/add_book',
            method: 'POST',
            data: {"Book_name":$("#Book_name").val(),
                "Description":$("#Description").val(),
                "Author":$("#Author").val(),
            },
            success: function (data) {
                if(data == 'ok'){
                    alert('添加成功')
                }
                else{
                    alert('已存在')
                }
            },
            error: function (data) {
                alert("检查网络")
            }
        })
    }

    function search() {
        $("#show").html("")
        $.ajax({
            url: '/search_book/' + $("#search").val(),
            method: 'GET',

            success: function (data) {
                if(data['status'] == 'ok') {
                    // console.log(data['books'])
                    for (var i = 0; i < data['books'].length; i++) {

                        var name_l = $('<label>', {
                            for: "spell" + (i + 3),
                            text: "书名:"
                        });
                        var name = $('<input>', {
                            id: "spell" + (i + 3),
                            value: data['books'][i]['book_name'],
                            readOnly: true,
                            width: 150
                        });

                        var author_l = $('<label>', {
                            for: "tp" + (i + 3),
                            text: "作者:"
                        });
                        var author = $('<input>', {
                            id: "tp" + (i + 3),
                            value: data['books'][i]['author'],
                            width: 250,
                            readOnly: true,
                        });

                        var description_l = $('<label>', {
                            for: "chinese" + (i + 3),
                            text: "简介:"
                        });
                        var description = $('<textarea>', {
                            id: "chinese" + (i + 3),
                            text: data['books'][i]['description'],
                            readOnly: true,
                            width: 520,
                            height: 100
                        });

                        var div = $('<div>', {
                            id: i
                        })

                        div.append("<br>")
                        div.append(name_l)
                        div.append(name)
                        div.append(author_l)
                        div.append(author)
                        div.append("<br>")
                        div.append(description_l)
                        div.append("<br>")
                        div.append(description)
                        div.append("<br>")
                        div.append("<button onclick=delete_book('" +
                            data['books'][i]['book_name'] + "','" +
                            data['books'][i]['author'] + "','" +
                            data['books'][i]['description']+"')>删除此书</button>")

                        div.appendTo("#show")
                    }
                }
                else{
                    alert('没找到')
                }
            },
            error: function (data) {
                alert("检查网络")
            }
        })
    }

    function delete_book(book_name, author, description){
        $.ajax({
            url: '/delete_book',
            method: 'POST',
            data: {"Book_name": book_name,
                "Description": author,
                "Author": description
            },
            success: function (data) {
                if(data == 'ok'){
                    alert('删除成功');
                    search();
                }
                else{
                    alert('404')
                }
            },
            error: function (data) {
                alert("检查网络")
            }
        })
    }


</script>

</html>