<!doctype html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="referrer" content="no-referrer"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" crossorigin="anonymous">
    <script th:src="@{/js/jquery-3.4.1.js}" crossorigin="anonymous"></script>

</head>

<body>
<!-- 头部 -->
<div class="bg-dark" style="height: 50px;">
    <p class="text-secondary" style="font-size: 17px; float: left; color: white; margin-left: 20px; margin-top: 12px;">
        云南大学-软件学院</p>
    <button class="btn btn-danger" style="float: right; margin-top: 5px;">退出</button>
</div>


<div class="progress mt-5" style="max-width: 35%; height: 40px;">
    <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" role="progressbar"
         style="width: 100%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">生命值[[${red}]]
    </div>
</div>

<div class="progress" style="max-width: 35%; height: 30px;">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%"
         aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">魔法值[[${blue}]]
    </div>
</div>

<div th:if="${msg}=='monk'" id="bb" style="position: relative; top: 168px; right: -0px; max-width: 210px;">
    <h5 style="position: absolute; left: 35px; top: 20px;">和尚</h5>
<!--    <button scr="" class="btn btn-info" style="position: absolute; left: 28px; top: -20px;">攻击</button>-->
    <button scr="" class="btn btn-info" style="position: absolute; left: 28px; top: -20px;">物理攻击</button>
    <button scr="" class="btn btn-info" style="position: absolute; left: 28px; top: -20px;">魔法攻击</button>
    <img src="" th:src="@{/img/heshang.gif}" style="position: absolute;">
</div>

<div th:if="${msg}=='swordwoman'" id="bb" style="position: relative; top: 168px; right: -0px; max-width: 210px;">
    <h5 style="position: absolute; left: 65px; top: -10px;">女侠</h5>
    <button scr="" class="btn btn-info" style="position: absolute; left: 55px; top: -50px;">攻击</button>
    <img src="" th:src="@{/img/nvxia.jpg}" style="max-width: 190px; position: absolute;">
</div>

<div th:if="${msg}=='ninja'" id="bb" style="position: relative; top: 165px; right: -0px; max-width: 210px;">
    <h5 style="position: absolute; left: 70px; top: -18px;">忍者</h5>
    <button scr="" class="btn btn-info" style="position: absolute; left: 62px; top: -60px;">攻击</button>
    <img src="" th:src="@{/img/renzhe.png}" style="max-width: 190px; position: absolute;">
</div>


<hr style="margin-top: 390px; border-top: 10px solid rgb(0, 0, 0);"/>

</body>

<script>
    function GetRequest() {
        var url = location.search;        //获取url中"?"符后的字串
        var theRequest = new Object();
        if (url.indexOf("?") != -1) {
            var str = url.substr(1);
            strs = str.split("&");
            for (var i = 0; i < strs.length; i++) {
                theRequest[strs[i].split("=")[0]] = decodeURIComponent(strs[i].split("=")[1]);
            }
        }
        return theRequest;
    }

    var msg = GetRequest();
    var px = 0;
    document.onkeydown = function (event) {
        var e = event || window.event || arguments.callee.caller.arguments[0];

        if (e && e.keyCode == 65) { // 按 a
            if (px < -20) {
                px = px + 20
                document.getElementById("bb").style.right = px + "px";
            }
        }
        if (e && e.keyCode == 68) { // 按 d
            if (px > -1140) {
                px = px - 20
                document.getElementById("bb").style.right = px + "px";
            }
        }
    };


</script>

</html>